/* Mobile first layout SmartMenus Core CSS (it's not recommended editing these rules)
   You need this once per page no matter how many menu trees or different themes you use.
-------------------------------------------------------------------------------------------*/

/* Import font from Google fonts */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400);

.sm {
    position: relative;
    z-index: 9999;
}
.sm,
.sm ul,
.sm li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: normal;
    direction: ltr;
    text-align: left;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.sm-rtl,
.sm-rtl ul,
.sm-rtl li {
    direction: rtl;
    text-align: right;
}
.sm>li>h1,
.sm>li>h2,
.sm>li>h3,
.sm>li>h4,
.sm>li>h5,
.sm>li>h6 {
    margin: 0;
    padding: 0;
}
.sm ul {
    display: none;
}
.sm li,
.sm a {
    position: relative;
}
.sm a {
    display: block;
}
.sm a.disabled {
    cursor: not-allowed;
}
.sm:after {
    content: "\00a0";
    display: block;
    height: 0;
    font: 0px/0 serif;
    clear: both;
    visibility: hidden;
    overflow: hidden;
}
.sm,
.sm *,
.sm *:before,
.sm *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.mega-menu {
    color: #FFFFFF;
    padding: 0px 10px !important;
}
nav {
    top: 0;
    left: 0;
    position: fixed;
	padding:0 5%;
    display: block;
    width: 100%;
    z-index: 99;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.brand-name {
    margin-left: 10px;
    display: inline-block;
    float: left;
    margin-top: 15px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.brand-name img {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.brand-name .scroll-logo {
    display: none;
}

/* search menu part */
#main-nav .other-tools {
    margin-top: 0px;
    margin-right: 10px;
    float: right;
    display: inline-block;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}
#main-nav .search {
    display: inline-block;
    color: #555555;
    text-align: center;
    padding: 18px 12px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
#main-nav .search {
    margin-right: -4px;
}

/* menu button for small screen */
.toggle-bttn {
    display: inline-block;
    width: 50px;
    height: 50px;
    float: right;
    background: #EEE;
}
.toggle-bttn:focus {
    outline: 0
}
.toggle-bttn span {
    display: block;
    background: #111111;
    height: 2px;
    width: 18px;
    position: relative;
    margin-top: 24px;
    margin-left: 10px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.toggle-bttn span:before,
.toggle-bttn span:after {
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    background: #111111;
}
.toggle-bttn span:before {
    margin-top: -7px;
    width: 26px;
}
.toggle-bttn span:after {
    margin-top: 7px;
    width: 26px;
}
.nav-heading {
    padding: 7px 20px;
    display: block;
    color: #888888;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: solid 1px #DDDDDD;
}

/* for small screen */
.sm-clean a {
    padding: 7px 20px;/* make room for the toggle button (sub indicator) */
    padding-right: 58px;
    color: #555555;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    line-height: 17px;
    text-decoration: none;
}
.sm-clean a.current {
    color:#48A7EC;
}
.sm-clean a.disabled {
    color: #bbbbbb;
}
.sm-clean a span.sub-arrow {
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: auto;
    right: 0px;
    width: 44px;
    height: 34px;
    overflow: hidden;
    font: bold 16px/34px monospace !important;
    text-align: center;
    text-shadow: none;
    background: rgba(0, 0, 0, 0.05);
}
.sm-clean a.highlighted span.sub-arrow:before {
    display: block;
    content: '-';
}
.sm-clean li {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.sm-clean > li:first-child {
    border-top: 0;
}
.sm-clean ul {
    background: rgba(162, 162, 162, 0.1);
}
@media (max-width: 991px) {
    .sm-clean {
        max-height: 360px;
        overflow-y: auto
    }
}
@media (min-width: 992px) {
    /* Switch to desktop layout
  -----------------------------------------------
     These transform the menu tree from
     collapsible to desktop (navbar + dropdowns)
  -----------------------------------------------*/
    /* start... (it's not recommended editing these rules) */
    .sm-clean ul {
        position: absolute;
        width: 12em;
    }
    .sm-clean li {
        float: left;
    }
    .sm-clean ul li {
        float: none;
    }
    .sm-clean a {
        font-size: 10px;
        white-space: nowrap;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
    }
    .sm-clean ul a {
        white-space: normal;
    }
    .sm-clean .sm-nowrap > li > a,
    .sm-clean .sm-nowrap > li >:not(ul) a {
        white-space: nowrap;
    }

    /* hide menu button on large screen */
    .toggle-bttn {
        display: none
    }
    /* ...end */
	
    /* main navigation wrapper */
    #main-nav {
        width: 100%;
        line-height: 0;
        text-align: right;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        -webkit-transition: all .3s ease;
        transition: all .3s ease;		
    }

    /* main navigation */    
    #main-menu {
        display: inline-block;
    }
    #main-nav .search {
        color: #CCCCCC;
        padding: 28px 12px;
    }
    #main-nav .search:hover {
        color: #FFFFFF;
    }
    .brand-name {
        margin-left: 30px;
        margin-top: 25px;
    }

    /* apply class on resize to avoid floating of main navigation */    
    .resize-menu {
        display: inline-block !important
    }

    /* style for main menu */    
    .nav-heading {
        color: #FFFFFF;
        border-bottom: solid 1px #444444;
    }
    .sm-clean li {
        border-top: 0;
    }
    .sm-clean a {
        padding: 28px 12px;
        color: #EEEEEE;
    }
    .sm-clean a:hover,
    .sm-clean a:focus,
    .sm-clean a:active,
    .sm-clean a.highlighted {
        color: #FFFFFF;
    }
    .sm-clean a.highlighted span.sub-arrow:before {
        display: none;
    }
    .sm-clean a.current {
        color: #B6E7F1;
    }
    .sm-clean a.disabled {
        color: #bbbbbb;
    }
    .sm-clean a.has-submenu {
        padding-right: 24px;
    }
    .sm-clean a span.sub-arrow {
        top: 50%;
        margin-top: -4px;
        right: 12px;
        width: 6px;
        height: 6px;
        background: #CCCCCC;
        border-radius: 50%;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    .sm-clean a:hover span.sub-arrow,
    .sm-clean a:active span.sub-arrow,
    .sm-clean a:focus span.sub-arrow,
    .sm-clean a.highlighted span.sub-arrow {
        background: #FFFFFF;
    }

    /* style for sub-menu */    
    .sm-clean ul {
        padding: 5px 0;
        background: #111111;
        border: solid 1px #222222;
		box-shadow:0px 0px 60px 0px rgba(0,0,0,0.05)
    }
    .sm-clean ul a {
        color: #CCCCCC
    }
    .sm-clean ul a,
    .sm-clean ul a:hover,
    .sm-clean ul a:focus,
    .sm-clean ul a:active,
    .sm-clean ul a.highlighted {
        border: 0 !important;
        padding: 6px 20px;
    }
    .sm-clean ul a:hover,
    .sm-clean ul a:focus,
    .sm-clean ul a:active,
    .sm-clean ul a.highlighted {
        color: #FFFFFF;
    }
    .sm-clean ul a.current {
		color:#a4e9fa;
		border-left:solid 2px #a4e9fa !important;
		margin-left:-1px;
    }
    .sm-clean ul a.disabled {
        background: white;
        color: #cccccc;
    }
    .sm-clean ul a.has-submenu {
        padding-right: 20px;
    }
    .sm-clean ul a span.sub-arrow {
        right: 8px;
        top: 50%;
        margin-top: -4px;
        width: 6px;
        height: 6px;
        background: #999999;
        border-radius: 50%;
    }
    .sm-clean ul a:hover span.sub-arrow,
    .sm-clean ul a:active span.sub-arrow,
    .sm-clean ul a:focus span.sub-arrow,
    .sm-clean ul a.highlighted span.sub-arrow {
        background: #FFFFFF;
    }

    /* apply class on scroll */    
    #main-nav.scroll-nav {
        background: #F9F9F9;
    }
    .scroll-nav a {
        color: #555555;
    }
    .min-padding {
        box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.07);
    }
    .min-padding a {
        padding: 18px 12px;
    }
    .scroll-nav a span.sub-arrow {
        background: #CCCCCC;
    }
	.scroll-nav a:hover,
    .scroll-nav a:focus,
    .scroll-nav a:active,
    .scroll-nav a.highlighted {
        color: #111111;
    }
    .scroll-nav a:hover span.sub-arrow,
    .scroll-nav a:active span.sub-arrow,
    .scroll-nav a:focus span.sub-arrow,
    .scroll-nav a.highlighted span.sub-arrow {
        background: #111111;
    }
    .min-padding .brand-name {
        padding: 0px;
        margin-top: 15px;
    }
    .min-padding .brand-name .scroll-logo {
        display: block;
    }
    .min-padding .brand-name .initial-logo {
        display: none;
    }
    #main-nav.scroll-nav .other-tools {
        border-left: 1px solid rgba(125, 125, 125, 0.1);
    }
    #main-nav.scroll-nav {
        border-bottom: 1px solid rgba(125, 125, 125, 0.1)
    }
    #main-nav.scroll-nav .search {
        color: #555555;
    }
    #main-nav.min-padding .search {
        padding: 18px 12px;
    }
    #main-nav.scroll-nav .search:hover,
    #main-nav.scroll-nav .shop-cart:hover {
        color: #afaeae
    }

    /* scroll arrows for very long sub-menu */    
    .sm-clean span.scroll-up,
    .sm-clean span.scroll-down {
        position: absolute;
        display: none;
        visibility: hidden;
        overflow: hidden;
        background: white;
        height: 20px;
    }
    .sm-clean span.scroll-up:hover,
    .sm-clean span.scroll-down:hover {
        background: #eeeeee;
    }
    .sm-clean span.scroll-up:hover span.scroll-up-arrow,
    .sm-clean span.scroll-up:hover span.scroll-down-arrow {
        border-color: transparent transparent #d23600 transparent;
    }
    .sm-clean span.scroll-down:hover span.scroll-down-arrow {
        border-color: #d23600 transparent transparent transparent;
    }
    .sm-clean span.scroll-up-arrow,
    .sm-clean span.scroll-down-arrow {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -6px;
        width: 0;
        height: 0;
        overflow: hidden;
        border-width: 6px;
        border-style: dashed dashed solid dashed;
        border-color: transparent transparent #555555 transparent;
    }
    .sm-clean span.scroll-down-arrow {
        top: 8px;
        border-style: solid dashed dashed dashed;
        border-color: #555555 transparent transparent transparent;
    }
	/* navigation types */
	#main-nav.dark-nav {
		background:#222222
	}
    #main-nav.dark-nav.min-padding {
        box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.5);
    }		
	#main-nav.light-nav {
		background:#F9F9F9
	}
	#main-nav.white-nav {
		background:#FFFFFF
	}	
    .light-nav a, .white-nav a {
        color: #555555;
    }
    .light-nav a span.sub-arrow, .white-nav a span.sub-arrow {
        background: #CCCCCC;
    }
	.light-nav a:hover,
    .light-nav a:focus,
    .light-nav a:active,
    .light-nav a.highlighted,
	.white-nav a:hover,
    .white-nav a:focus,
    .white-nav a:active,
    .white-nav a.highlighted {
        color: #111111;
    }
    .light-nav a:hover span.sub-arrow,
    .light-nav a:active span.sub-arrow,
    .light-nav a:focus span.sub-arrow,
    .light-nav a.highlighted span.sub-arrow,
	.white-nav a:hover span.sub-arrow,
    .white-nav a:active span.sub-arrow,
    .white-nav a:focus span.sub-arrow,
    .white-nav a.highlighted span.sub-arrow {
        background: #111111;
    }
    #main-nav.light-nav .other-tools,
	#main-nav.white-nav .other-tools {
        border-left: 1px solid rgba(125, 125, 125, 0.1);
    }
    #main-nav.light-nav,
	#main-nav.white-nav {
        border-bottom: 1px solid rgba(125, 125, 125, 0.1)
    }
    #main-nav.light-nav .search,
	#main-nav.white-nav .search {
        color: #555555;
    }
    #main-nav.light-nav .search:hover,
	#main-nav.white-nav .search:hover{
        color: #afaeae
    }	
	
	#main-nav.no-border,
	#main-nav.no-border .other-tools { 
		border:none
	}
}
@media (max-width: 991px) {
    nav {
        background: #F9F9F9;
        box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.07);
    }
    #main-nav .search {
        padding: 0;
        line-height: 50px;
        width: 35px;
        vertical-align: middle;
		margin-right:5px;
    }
    #main-nav .other-tools {
        margin-right: 0px;
    }
    .sm-clean {
        background: #FFFFFF;
        padding: 2px 0px;
        border-bottom: solid 4px #EEEEEE;
        border-top: solid 4px #EEEEEE
    }
    .sm-clean a {
        color: #111111;
    }
    .mega-menu {
        color: #111111
    }
    .brand-name .scroll-logo {
        display: block;
    }
    .brand-name .initial-logo {
        display: none;
    }
    nav #main-menu {
        display: none;
        position: absolute;
        width: 100%;
        float: none;
        top: 50px;
        left: 0;
    }
}
/* search icon from main navigation */
.search {
    position: relative;
    z-index: 999999
}
/* search overlay */
.search-field-wrapper {
    /* by default it's hidden - on top of the viewport */    
    position: fixed;
    text-align: left;
    left: 0;
    top: 0;
    height: 100%;/* for full width make height 100% */    
    width: 100%;/* for full width make width 100% */
    background: rgba(255, 255, 255, 0.95);
    z-index: 99999;
    padding: 50px 0 30px 0px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;/* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */    
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.search-field-wrapper.is-visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
body.overflow-hidden,
html.overflow-hidden {
    overflow: hidden !important;
}
/* change search icon to close icon on click */
.search-icon:before {
    color: #FFFFFF;
    background: rgba(46, 113, 242, 1);
    border-radius: 50%;
	margin-right:-3px;
    padding: 10px;
    content: "\e646" !important;
    font-size: 0.9em;
}
/* hide goto-top arrow when search overlay is visible */
.goto-top.hide-arrow {
    display: none
}
/* actual search form */
.search-form {
    display: block;
    width: 767px;
    margin: 25vh auto 20px auto;
}
.search-form label {
    display: block;
    text-align: left;
    font-size: 20px;
    text-transform: none;
    position: absolute;
    font-weight: 400;
    color: #111111;
    top: 25px;
    bottom: 0;
    left: 50px;
    width: 100%;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
.search-form > div {
    position: relative;
    margin-top: 30px;
}
.search-form > div > label {
    position: absolute;
}
.search-form input {
    background:rgba(255,255,255,0.3);
    position: relative;
    font-size: 20px;
    border-radius: 75px;
    margin-bottom: 0px;
	color:#2e71f2;
    border-color: #CCCCCC;
    padding: 10px 10px 10px 50px;
}
.search-form input:focus {
	background:#FFFFFF;	
    border-color: #EEEEEE;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1);
}
.search-form > div > .search-form-icon {
    position: absolute;
    top: 15px;
    font-size: 20px;
    margin-left: 20px;
    z-index: 99
}
.search-form input:focus + label {
    top: -20px;
    color: #888888
}
@media (max-width: 991px) {
    .search-form {
        width: 100%;
    }	
    .search-form label {
        top: 13px;
    }
    .search-form input:focus + label {
        top: -25px;
    }
    .search-form > div > .search-form-icon {
        top: 12px;
    }
	.search-icon:before {
	    margin-left:-15px;		
    }
}
@media (max-width: 480px) {
    .search-form label {
        font-size: 16px;
    }
}